<section class="my-5">
  <h1 class="text-4xl font-bold text-info text-center">Pipes no tan comunes</h1>
  <h3 class="text-xl font-thin text-center">Pipes incluidos en Angular</h3>
</section>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">

  <app-card title="i18nSelectPipe">
    <p>Saludos a <b class="text-pink-500">{{ client().name }}</b>, es un placer <b class="text-pink-500">{{ client().gender | i18nSelect:invitationMap }}</b> a nuetro evento</p>
    <button (click)="changeClient()" class="btn btn-accent">Cambiar cliente</button>
  </app-card>

  <app-card title="i18nPluralPipe">
    <p>Actualmente {{ clients().length | i18nPlural:clientsMap()}} </p>
    <button [disabled]="clients().length === 0" (click)="deleteClient()" class="btn btn-primary">Borrar cliente</button>
  </app-card>

  <app-card title="SlicePipe">
    <b>Original</b>
    <p class="text-primary">
      {{ clients().join(', ') }}
    </p>
    <b>Slice: 0,2</b>
    <p class="text-primary">
      {{ clients() | slice:0:2 }}
    </p>
  </app-card>

  <app-card title="JsonPipe">

    <pre class="text-secondary">{{ clients() | json }}</pre>
    <pre class="text-secondary">{{ client() | json }}</pre>
    <p class="text-secondary">{{ clients().join(", ") | json | uppercase }}</p>

  </app-card>

  <app-card title="KeyValuePipe">

    <!-- <pre>{{ profile | keyvalue | json}}</pre> -->
     <ul>
      @for (item of profile | keyvalue; track $index) {
        <li>
          <strong>{{ item.key | titlecase }}</strong>
          <span class="text-accent">
            {{ item.value }}
          </span>
        </li>
      }
     </ul>

  </app-card>

  <app-card title="AsyncPipe">
    <p>{{ promiseValue | async}}</p>
    @if( promiseValue | async; as value ){
      <p class="text-primary">{{ value }}</p>
    } @else {
      <p class="text-warning">Espere por favor...</p>
    }

    <!--  -->
    <h3>Observable</h3>
    <p>{{ myObservableTimer | async}}</p>
  </app-card>

</div>
